.services-button-item {
  display: flex;
  align-items: center;

  height: 24px;

  border: none;
  background: none;

  transition: scale .5s ease;
}

.services-button-item:hover {
  transform: scale(1.1);

  cursor: pointer;
}