.feedback {
  position: absolute;
  top: 0;
  right: 0;
  width: $width-s;
  height: $height-s;

  background: $color-white;

  display: none;

  @media (min-width: $width-m) {
    box-shadow: 
      -2px 0px 4px rgba(69, 79, 126, 0.02), 
      16px 0px 52px rgba(14, 24, 80, 0.2);
  }

  @media (min-width: $width-b) {
    width: 440px;
    height: 940px;

    box-shadow: 
      -2px 0px 4px rgba(69, 79, 126, 0.02), 
      16px 0px 52px rgba(14, 24, 80, 0.2);
  }
}

.feedback--open {
  display: block;
  z-index: 100;
}