.page-copyright {
  margin-top: 16px;

  font-family: $font-stack;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;

  color: $color-text-gray;

  opacity: 0.72;

  @media(min-width: $width-m) {
    margin-top: 32px;
    margin-left: 24px;

    width: 218px;
    height: 32px;

    text-align: left;
  }

  @media (min-width: $width-b) {
    margin-left: 31px;
  }
}