.services-items {
  padding-top: 24px;
  padding-left: 16px;

  display: flex;
  align-items: center;

  overflow-x: scroll;

  @media(min-width: $width-m) {
    margin: 32px 0 24px 24px;
    padding-left: 0;
    padding-top: 0;
  }

  @media (min-width: $width-b) {
    margin: 8px 34px 8px 34px;
    flex-wrap: wrap;
  }
}