.feedback-button__item {
  width: 136px;
  height: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $color-button;
  border: none;
  border-radius: 16px;
}

.feedback-button__item:hover {
  opacity: 0.7;

  cursor: pointer;
}