.brands-header {
  padding: 16px;
  width: $width-s;

  background: linear-gradient(90deg, $color-services 0%, $color-white 98.61%);

  @media(min-width: $width-m) {
    padding-left: 24px;

    height: 56px;
    width: $width-m;
  }

  @media (min-width: $width-b) {
    padding-left: 32px;
    
    width: 1120px;
  }
}