.menu-footer__phone-item {
  text-decoration: none;
  font-family: "TT Lakes";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-weight: bold;
  color: #1b1c21;
  cursor: pointer;
}

.menu-footer__phone-item:hover {
  opacity: 0.5;
}