.price-table-border {
  @media (min-width: $width-m) {
    width: 720px;
    height: 324px;
  
    position: absolute;
    top: 119px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  
    z-index: 1;
  
    background: $color-white;
    border-radius: 6px;
  }

  @media (min-width: $width-b) {
    width: 1056px;
    height: 324px;
  }
}