.feedback-input {
  margin: 0 16px 16px 16px;

  width: 288px;
  height: 48px;

  border: 1px solid $color-border;
  border-radius: 8px;

  resize: none;

  @media (min-width: $width-b) {
    margin-left: 31px;

    width: 376px;
  }
}

.feedback-input[placeholder] {
  padding: 12px 0 12px 16px;
  font-family: $font-stack;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;

  color: $color-text-form;
}

.feedback-input:nth-child(4) {
  height: 118px;
}