.brands-items {
  height: 140px;

  background: $color-services;

  @media(min-width: $width-s) {
    height: 100px;
  }

  @media(min-width: $width-m) {
    margin: 24px auto 14px auto;
    height: 160px;
    width: 768px;
  }

  @media(min-width: $width-b) {
    width: 1120px;
  }
}

.brands-items--b {
  height: 100%;
}