.brands-items__item {
  margin: 16px 0;
  margin-left: 16px;
  flex-shrink: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 16px;

  width: 240px !important;
  height: 70px;

  background: $color-white;
  border: 1px solid $color-border;
  border-radius: 6px;

  transition: scale .5s ease;

  @media(min-width: $width-m) {
    margin-top: 0;
    margin-left: 24px;
    
    width: 224px !important;
  }

  @media (min-width: $width-b) {
    margin: 0 0 16px 32px;

    flex-wrap: nowrap;
  
    width: 240px !important;
  }
}

.brands-items__item:hover {
  transform: scale(1.1);
}