.page-footer {
  margin: 0 auto;
  width: 100%;
  height: 148px;

  border-top: 1px solid $color-green-line;

  background: $color-services;

  @media(min-width: $width-m) {
    width: 100%;
    height: 104px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: $width-b) {
    width: 100%;
    height: 85px;
  }
}