.menu-lang__button {
  padding: 0;
  border: none;
  background: none;
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  width: 24px;

  margin-right: 7px;

  color: $color-text-black;
  cursor: pointer;
}

.menu-lang__button:hover {
  color: $color-text-gray;
}

.menu-lang__button--active {
  color: $color-text-gray;
}