.brands {
  margin: 24px auto 0 auto;
  width: 100%;
  height: 220px;

  border-top: 1px solid $color-green-line;

  @media(min-width: $width-s) {
    height: 184px;
  }

  @media(min-width: 369px) {
    height: 160px;
  }

  @media(min-width: $width-m) {
    margin-bottom: 32px;
    width: 100%;
    height: 295px;

    .services-button {
      margin-top: 24px;
    }
  }

  @media (min-width: $width-b) {
    width: 100%;
  }
}

.brands--b {
  height: 100%;
}