.menu {
  width: $width-s;
  height: $height-s;
  position: absolute;
  top: 0;
  left: 0;

  background: $color-white;

  opacity: 0;
  z-index: -1;

  transform: translateY(-$height-s);

  @media (min-width: 360px) {
    width: 360px;

    transform: translateY(-$height-s);
  }

  @media (min-width: $width-m) {
    height: 1024px;
    box-shadow: 
      -2px 0px 4px rgba(69, 79, 126, 0.02), 
      16px 0px 52px rgba(14, 24, 80, 0.2);

    transform: translateY(-1024px);
  }

  @media (min-width: $width-b) {
    width: 246px;
    height: 1925;
    opacity: 1;
    box-shadow: none;

    transform: none;
  }

  @media (min-width: 1440px) {
    width: 306px;
    opacity: 1;
    
    transform: none;
  }
}

.menu--open {
  opacity: 1;
  z-index: 100;

  margin: 0;
  
  transform: translateY(0);
  transition: transform 0.5s ease-in;
}

.menu--fixed {
  @media (min-width: $width-b) {
    position: fixed;
  }

  @media (min-width: 1440px) {
    position: fixed;
  }
}