.price-info__text {
  width: 100%;
  height: 137px;

  font-family: $font-stack;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;

  color: $color-text-black;

  @media(min-width: 448px) {
    height: 70px;
  }

  @media(min-width: $width-m) {
    width: 100%;
    height: 60px;
  }
}