$font-stack: 'TT Lakes', sans-serif;

$height-s: 676px;

$width-s: 320px;
$width-m: 768px;
$width-b: 1366px;

$color-text-black: #1b1c21;
$color-text-gray: #7e7e82;
$color-white: #fff;
$color-services: #f8f8f8;
$color-text-form: #b5b6bc;
$color-button: #ff3e79;
$color-border: #eaeaea;
$color-green: #41f6d7;
$color-border-green: #b8ffec;
$color-green-line: #d9fff5;
$color-pagination: #bbb;
